<div class="row" >
    <div class="col"> 
      <form (ngSubmit)="onSubmit()" [formGroup]='loginForm'>
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" formControlName="username" placeholder="Enter username" type="text">
          <label for="password">Password</label>
          <input class="form-control" formControlName="password" placeholder="Enter password" type="password">
        </div>
        <button [disabled]="!loginForm.valid" class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>