.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 50px;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .results {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    input[type="text"] {
      width: 70%;
    }
  }
  
  @media (max-width: 768px) {
    .results {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  